<GeneralContainer>
    <div class="product item-details-page">
        <Product::Image />
        <Product::Details />
    </div>
    <h5 class="mt-5">Features</h5>
    <ul>
        <li>High-performance wireless noise cancelling</li>
        <li>High-performance wireless noise cancelling</li>
        <li>High-performance wireless noise cancelling</li>
        <li>High-performance wireless noise cancelling</li>
    </ul>
</GeneralContainer>